<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <!-- <link rel="icon" type="image/png" href="favicon.png"/> -->
  <%= favicon_link_tag 'favicon.png' %>
  <title>Sumoary</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= favicon_link_tag 'favicon.png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <!-- CSS  -->
<!--  <link href="https://fonts.googleapis.com/css?family=Economica|Nanum+Brush+Script" rel="stylesheet"> -->
<link href="https://fonts.googleapis.com/css?family=ABeeZee|Aladin|Allerta|Andika|Archivo+Black|Barlow|Cabin|Cabin+Condensed|Carme|Carrois+Gothic+SC|Days+One|Didact+Gothic|Do+Hyeon|Hind+Siliguri|Kanit|Kaushan+Script|Krona+One|Lato|Mada|Mallanna|Meera+Inimai|Mitr|Montserrat|NTR|Overpass|PT+Sans+Caption|Palanquin+Dark|Patrick+Hand+SC|Paytone+One|Port+Lligat+Sans|Prompt|Reem+Kufi|Rubik+Mono+One|Short+Stack|Sriracha|Syncopate|Tenali+Ramakrishna|Tenor+Sans|Varela+Round|Viga|Walter+Turncoat|Work+Sans" rel="stylesheet">
  <link href="assets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link href="assets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
 <link href="main.css" type="text/css" rel="stylesheet" media="screen,projection"/>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="assets/materialize.js"></script>
<script src="assets/init.js"></script>
<script src="assets/main.js"></script>

  <nav>
    <div class="nav-wrapper grad">
      <a href="/" id="logo-container" href="/" class="brand-logo left" class="z-depth-2" alt="Adorable Sumo" class="point"><%= image_tag "sumo_logo.png" %></a>
      <a href="/" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down" id="navvy">
        <li><a href="/#yokozuna"><h6>YOKOZUNA</h6></a></li>
        <li><a href="/#ozeki"><h6>ŌZEKI</h6></a></li>
        <li><a href="/#komusubi"><h6>KOMUSUBI</h6></a></li>
        <li><a href="/#sekiwake"><h6>SEKIWAKE</h6></a></li>
        <li><a href="/#maegashira"><h6>MAEGASHIRA</h6></a></li>
        <li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="/#yokozuna">Yokozuna</a></li>
    <li><a href="/#ozeki">Ōzeki</a></li>
    <li><a href="/#sekiwake">Sekiwake</a></li>
    <li><a href="/#komusubi">Komusubi</a></li>
    <li><a href="/#maegashira">Maegashira</a></li>
  </ul>

</head>


  <body id="grad">
    <div class="z-depth-2">
      <%= yield %>
    </div>


</body>
<footer class="page-footer grad" class="z-depth-2" id="recolor">



<h5><p class="center black-text" class="titles">Copyright 2018 SUMO-ARY Industries Ltd.</p></h5>
</footer>
</html>
